Options +FollowSymlinks
RewriteEngine on

# Définir la base du projet
RewriteBase /Projet_Portfolio/

# Rediriger toutes les requêtes sauf les fichiers et dossiers existants
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Règle de réécriture avec filtrage des caractères non autorisés
RewriteRule ^([a-zA-Z0-9\-_\/]*)$ index.php [QSA,L]