body {
    background-size: cover; /* L'image couvre tout l'élément */
    background-repeat: no-repeat; /* Pas de répétition de l'image */
    background-attachment: fixed; /* L'image reste fixe lors du défilement */
    background-position: center;
    margin: 0;
    color: #fff; /* Couleur du texte */
    font-family: 'orbitron', sans-serif;
  }
html, body {
    height: 100%;
    margin: 0; /* Supprime les marges par défaut */
    display: flex;
    flex-direction: column;
}

/* Le contenu principal doit occuper tout l'espace disponible */
.contenu-principal {
    flex: 1; /* Prend tout l'espace restant */
    padding: 20px; /* Ajoutez un peu de padding si nécessaire */
}

.carousel-item img {
    width: 100%;
    height: 650px; /* Définir une hauteur fixe */
    object-fit: cover; /* Assure que l'image couvre entièrement l'espace */
}

.carousel-item {
height: 650px; /* Définir une hauteur fixe pour les éléments du carrousel */
}
/* Footer fixe en bas */
footer {
    background-color: #f8f9fa; /* Couleur de fond, ajustez selon votre thème */
    text-align: center;
    padding: 1rem;
}